* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

.pic-container {
  position: relative;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100vh;
  background: url(/images/img1.jpg) no-repeat center center/cover;
  transition: all 0.9s ease;
}

.pic-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.pic-container * {
  z-index: 10;
}

/* .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
} */

.nav-container {
  width: 100%;
  opacity: 0.7;
}

.nav-bar {
  height: 90px;
  background: rgba(4, 22, 22, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  /* opacity: 0.2; */
}

.search-container {
  width: 55%;
  background: #fff;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  opacity: 0.8;
  position: relative;
  left: 80px;
}

.search-container>i {
  font-size: 20px;
  color: #777;
}

.search-container>input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 75px;
  height: 35px;
  margin-left: 20px;
  opacity: 0.9;
  cursor: pointer;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.right button {
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  transition: all .15s ease-in-out;
  vertical-align: top;
  background-color: rgb(241, 234, 234);
  color: #222;
}

.log-in {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.log-in:hover {
  color: rgb(255, 255, 255);
}

.right button:hover {
  background: #fff;
  color: black;
}

.nav-bar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-right: 20px;
  align-items: center;
}

.nav-bar ul li {
  padding: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head {
  font-size: 70px;
  color: #fff;
  margin-bottom: 50px;
}

.main-container .para {
  font-size: 35px;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}

.main-button {
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  padding: 20px 45px;
  text-align: center;
  text-decoration: none;
  transition: all .15s ease-in-out;
  vertical-align: top;
  background-color: rgb(241, 234, 234);
  color: #222;
}

.main-button:hover {
  background: #fff;
  color: black;
}

.footer .bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 80px;
}


.bottom-container .list-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom-container .list-items .list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.bottom-container .list-items .list li {
  padding: 35px;
  cursor: pointer;
}

.bottom-container .list-items .list li:hover {
  color: rgb(188, 188, 188);
}

.footer {
  position: absolute;
  top: 92%;
  background: #000;
  width: 100%;
  color: #999;
  font-size: 18px;
  font-weight: 600;
}

.smug-mug {
  position: relative;
  right: 10px;
  cursor: pointer;
}

.smug-mug:hover {
  color: rgb(188, 188, 188);
}

.social-icons {
  margin-right: 50px;
}

.social-icons #facebook {
  padding: 20px;
  cursor: pointer;
}

.social-icons #twitter {
  padding: 20px;
  cursor: pointer;

}

.social-icons #instagram {
  padding: 20px;
  cursor: pointer;

}
